NET "clk"   LOC= "T9";
NET "rgb[0]"   LOC= "R12";
NET "rgb[1]"   LOC= "R11";
NET "rgb[2]"   LOC= "T12";
NET "hsync"   LOC= "R9";
NET "vsync"   LOC= "T10";
NET "sw[0]" LOC= "F12";
NET "sw[1]" LOC= "G12";
NET "sw[2]" LOC= "H14";
NET "btn1[0]" LOC= "M13";
NET "btn1[1]" LOC= "M14";
NET "btn1[2]" LOC= "L13";
NET "btn1[3]" LOC= "L14";
NET "btn2[0]" LOC= "D6";
NET "btn2[1]" LOC= "C5";
NET "btn2[2]" LOC= "D5";
NET "btn2[3]" LOC= "E6";
NET "bomb1" LOC= "D7";
NET "bomb2" LOC= "C7";
