//! **************************************************************************
// Written by: Map M.81d on Fri Jan 10 14:32:54 2014
//! **************************************************************************

SCHEMATIC START;
COMP "bomb1" LOCATE = SITE "D7" LEVEL 1;
COMP "bomb2" LOCATE = SITE "C7" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "hsync" LOCATE = SITE "R9" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "R12" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "R11" LEVEL 1;
COMP "btn1<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "T12" LEVEL 1;
COMP "btn1<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "btn1<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "btn1<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "btn2<0>" LOCATE = SITE "D6" LEVEL 1;
COMP "btn2<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "btn2<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "btn2<3>" LOCATE = SITE "E6" LEVEL 1;
COMP "vsync" LOCATE = SITE "T10" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

